<%- include("partials/header") %>



<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Trucker2020</h1>
            <p>
                <a class="btn btn-primary btn-large" href="/trucks/new">Add New Truck</a>
            </p>
        </div>
    </header>


    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% trucks.forEach(function(truck){ %>

        <div class="col-md-3 col-sm-6">


            <div class="card">
                <img src="<%= truck.image %>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><%= truck.name %></h5>
                    <p class="card-text"><%= truck.foodType %></p>
                    <a href="/trucks/<%= truck._id %>" class="btn btn-primary">More Info</a>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
</div>




<%- include("partials/footer") %>